<h2>My heroes</h2>

<div class="input-group mb-4">
  <div class="input-group-prepend">
    <span class="input-group-text">Hero name:</span>
  </div>
  <input type="text" class="form-control" #heroName>
  <div class="input-group-append">
    <button type="button" class="btn btn-outline-secondary" (click)="add(heroName.value); heroName.value=''">Add</button>
  </div>
</div>

<ul class="list-group">
  <li *ngFor="let hero of heroes" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
    <a routerLink="/detail/{{hero.id}}" class="text-decoration-none text-primary">
      <span class="badge badge-primary mr-2">{{hero.id}}</span>{{hero.name}}      
    </a>
    <button type="button" class="close" (click)="delete(hero)">&times;</button>
  </li>
</ul>